/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/raleway-v16-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v16-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 
Шрифты
font-family: Raleway;
font-weight: 700;

font-family: Roboto;
font-weight: 400;
font-weight: 500;
font-weight: 700;
font-weight: 900;
*/

/*
 область данных 1200px,
 крайние отступы 15px
 */

:root {
  --primary-black-color: #212121;
  --secondary-black-color: #000000;
  --secondary-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgb(255, 255, 255, 0.6);
  --grey-color: #757575;
  --background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}
/* Common styles */

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

button,
address {
  font-family: inherit;
  font-style: normal;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

a {
  color: #000;
  font-family: inherit;
  text-decoration: none;
}

/* index.html */

/* Header */

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-box {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;

  padding-top: 23px;
  padding-bottom: 25px;
  margin-right: 85px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-black-color);
}

.header-logo > span {
  color: var(--secondary-color);
}

.nav {
  display: flex;

  color: var(--primary-black-color);
}

.nav:hover,
.nav:focus {
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
}

.nav-list > li:not(:last-child) {
  display: flex;
  margin-right: 50px;
}

.nav-link {
  display: block;

  padding-top: 31px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-black-color);
}

address {
  margin-left: auto;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-color);
}

.address-list {
  display: flex;
  margin-left: auto;
}

.address-list > li + li {
  margin-left: 30px;
}

.address-item {
  display: block;
  color: var(--grey-color);
  padding-top: 31px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-item:hover,
.address-item:focus {
  color: var(--secondary-color);
}

/* Main */

.hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: grey;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-order {
  padding: 10px 52px;
  margin-bottom: 100px;

  color: var(--primary-white-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;

  text-align: center;
}

.features-subtitle {
  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features-link {
  background-color: grey;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;
}

.dev-name {
  color: var(--primary-black-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.dev-proffesion {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* footer */
.footer-background {
  background-color: var(--secondary-background-color);
}

.footer-city {
  color: var(--primary-white-color);
}

.footer-address {
  color: var(--secondary-white-color);
}

.footer-city:hover,
.footer-city:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--secondary-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-white-color);
}

.footer-logo > span {
  color: var(--secondary-color);
}

.footer-subtitle {
  color: var(--primary-white-color);

  font-weight: 700;

  text-transform: uppercase;
}

.sign-button {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;
}

/* Portfolio.html */
/* Футер и хедер общие */
/* Main */

.gallery-button {
  color: var(--primary-black-color);
  background-color: var(--background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
}

/* Добавить всплывающий текст при событии :hover, :focus  */
.gallery-button:hover,
.gallery-button:focus,
.gallery-button:active {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
}

.gallery-title {
  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.gallery-subtitle {
  color: var(--grey-color);

  font-size: 16px;
  line-height: 1.87;
}

.gallery-desc {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  font-size: 18px;
  line-height: 1.56;
}
